{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top:20px;">
        <div class="row">
            <h3>Create task</h3>
            {{ include('task/partials/_form.html.twig') }}
        </div>
    </div>
    
{% endblock %}