{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3>Update task</h3>
            {{ include('task/partials/_form.html.twig') }}
    </div>
    
{% endblock %}